@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --button-color: #0066cc;
    --primary-color: #0077ff;
    --secondary-color: #042e81;
    --text-color-dark: #333;
    --text-color-light: #666;
    --white: #fff;
    --border-radius: 20px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.left-panel {
    position: relative;
    width: 60%;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    color: var(--white);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    padding-left: 90px;
}

.left-panel .container {
    position: relative;
    z-index: 2;
}

.left-panel h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 6px;
}

.left-panel p {
    font-size: 12px;
    margin-bottom: 20px;
}

.read-more {
    background-color: rgba(5, 117, 230, 100%);
    color: var(--white);
    border: none;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 9px;
    transition: var(--transition);
}

.read-more:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.left-panel::before, .left-panel::after{
    content: '';
    position: absolute;
    border: 1px solid rgba(5, 117, 230, 1);
    border-radius: 50%;
    z-index: 1;
}

.left-panel::before{
    width: 360px;
    height: 360px;
    bottom: -190px;
    left: -90px;
}

.left-panel::after{
    width: 350px;
    height: 360px;
    bottom: -170px;
    left: -140px;
}