@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --button-color: #0066cc;
    --primary-color: #0077ff;
    --secondary-color: #06286d;
    --text-color-dark: #333;
    --text-color-light: #666;
    --white: #fff;
    --border-radius: 20px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 1317px;
    height: 823px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.left-panel {
    position: relative;
    width: 60%;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    color: var(--white);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    padding-left: 150px;
    padding-bottom: -25;
}

.left-panel .container {
    position: relative;
    z-index: 2;
}

.left-panel h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 6px;
}

.left-panel p {
    font-size: 18px;
    margin-bottom: 20px;
}

.read-more {
    background-color: rgba(5, 117, 230, 100%);
    color: var(--white);
    border: none;
    padding: 10px 32px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    transition: var(--transition);
}

.read-more:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.left-panel::before, .left-panel::after{
    content: '';
    position: absolute;
    border: 1px solid rgba(5, 117, 230, 1);
    border-radius: 50%;
    z-index: 1;
}

.left-panel::before{
    width: 460px;
    height: 460px;
    bottom: -230px;
    left: -90px;
}

.left-panel::after{
    width: 450px;
    height: 460px;
    bottom: -210px;
    left: -140px;
}

.right-panel{
    position: relative;
    width: 40%;
    background: var(--white);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-message{
    justify-content: left;
    margin-bottom: 50px;

}

.right-panel h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
 
}

.right-panel p {
    font-size: 18px;
    margin-bottom: 20px;
}

.input-container .icon{
    opacity: 0.5;
    color: var(--text-color-light);
    margin-right: 5px;
}

.input-container input{
    border: none;
    font-size: 16px;
    max-height: fit-content;
    max-width: fit-content;
}

.input-container input::placeholder{
    color: var(--text-color-light);
    opacity: 0.4;
}

.input-container{
    border: 1px solid rgba(163, 162, 162, 0.192);
    border-radius: 30px;
    max-width: fit-content;
    padding: 15px 25px;
    margin-bottom: 15px;
}

.login-button{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 20px 130px;
    margin-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: var(--transition);
}

.login-button:hover{
    background-color: var(--button-color);
}

.forgot-password a{
    color: #999;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-top: 15px;
    text-decoration: none;
}

.forgot-password a:hover{
    color: var(--text-color-light);
}